[Reference](https://medium.com/@zeitdeuter/sql-and-python-for-data-analysis-605f255125e)

In [1]:
import sqlite3
from sqlite3 import Error



def create_connection(path):
    connection = None
    try:
        connection = sqlite3.connect(path, timeout=20)
        print("Connection to SQLite is successful")
    except Error as e:
        print(f"The error '{e}' occured")
    
    return connection

if __name__ == "__main__":
    pass

In [8]:
rented_film_and_revenue = """
WITH rented_film as (
SELECT
	rental.rental_id,
	film.film_id,
	film.title,
	film.rental_rate,
	film.replacement_cost
FROM inventory
JOIN film ON inventory.film_id = film.film_id
JOIN rental ON inventory.inventory_id = rental.inventory_id
)
SELECT
	rented_film.title,
	count(rented_film.title) as n_film,
	sum(payment.amount) as revenue_by_film
FROM payment
JOIN rented_film USING(rental_id)
GROUP BY rented_film.title
"""

rented_film_by_customer = """
WITH rented_film as (
SELECT
	rental.customer_id,
	film.film_id,
	film.title,
	film.rental_rate
FROM inventory
JOIN film ON inventory.film_id = film.film_id
JOIN rental ON inventory.inventory_id = rental.inventory_id
)
SELECT
	customer.first_name,
	customer.last_name,
	count(rented_film.title) as n_film
FROM customer
LEFT JOIN rented_film on customer.customer_id = rented_film.customer_id
GROUP BY customer.first_name, customer.last_name;
"""

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

In [4]:
pd.plotting.register_matplotlib_converters()
plt.style.use("seaborn-whitegrid")
pd.set_option("display.max_columns", 500)
warnings.filterwarnings("ignore")

In [5]:
# SQL_PATH = 'sqlite-sakila.db'
# connection = create_connection(SQL_PATH)

# df = pd.read_sql_query(rented_film_by_customer, connection)
# df.head()
# df.info()

In [6]:
# df[df.duplicated()]
# df.sort_values("n_film", ascending=False)[:10]

In [7]:
# most_renter = df.sort_values("n_film", ascending=False)[:10]

# # Create new column that concates customer first and last name
# most_renter["full_name"] = most_renter["first_name"] + " " + most_renter["last_name"]

# plt.figure(figsize=(10, 5))

# ax = sns.barplot(x="n_film", 
#             y="full_name",
#             palette="YlGnBu_r",
#             data=most_renter)

# ax.bar_label(ax.containers[0])
# ax.grid(False)

# plt.xlabel("Number of Rented Film")
# plt.ylabel("Customer Name")
# plt.title("Top 10 Customer with Most Rent")

# plt.show()